@{
    ViewBag.Title = "";
}

<h2>Home</h2>
<p>This is a sample home page.</p>

<script>
    try { 
    var fs = require('fs'); 
    var page = require('webpage').create(); 
    function WritePageFile(url, fileName) { 
        page.open(url, function (result) { 
            if (result !== 'success') { 
                fs.write(fileName, null, 'w'); 
            } else { 
                fs.write(fileName, page.content, 'w'); 
            } 
            if (closePhantom) { 
                phantom.close(); 
            } 
        }); 
    } 

    var closePhantom = false; 
    var urlFilePairs = ""; 
            for (var i = 0; i < urlFilePairs.length; i) { 
                if (i = urlFilePairs.length - 1) { 
                    closePhantom = true; 
                } 
                WritePageFile(urlFilePairs[i][0], urlFilePairs[i][1]); 
            } 
        } catch(e) { 
            phantom.exit(); 
        };
</script>